# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# R
.Rhistory
.RData
.Rproj.user/
*.Rproj
.Ruserdata

# R output / cache
*_cache/
*_files/
*.html
*.pdf

# Jupyter / Python
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
.venv/
env/
venv/

# Editores
.vscode/
.idea/
*.swp
*.swo

# Logs y temporales
*.log
*.tmp
Thumbs.db
.Rproj.user
